@media only screen and (max-width:991px) {

}


@media only screen and (max-width:767px) {
    .swiper-pagination{
        display: none!important;
    }
    .social-icon{
        display: none;
    }
    .navbar-toggler{
        padding: 0;
        border: none;
        margin-right: 10px;
    }
    .inner-nav{
        max-width: 100%!important;
    }
    .header_nav{
            .dropdown{
                border: 0!important;
            }
            .nav-item{
                .dropdown{
                    padding: 10px 0;
                }
            }
    }
    .navbar-brand{
        margin-right: 0;
        img{
            width: 70px;
        }
    }
}