@media only screen and (max-width:991px) {

}


@media only screen and (max-width:767px) {

        //
        .header_nav{
            ul{
                li{
                    a{
                        margin: 0;
                    }
                }
            }
        }
        .dropdown-menu li {
            padding: 2px 17px;
        }
        #myWizard {
            padding: 0;
            flex-direction: column;
        }
        #franchise h3{
            font-size: 28px;
        }
        #franchise h1{
           font-size: 28px;
        }
        #new12{
            .owl-nav{
                display: none;
            }
        }
        .faq-section{
            .container{
                padding: 0;
            }
            .card-header {
                padding: 10px 12px 10px 14px;
            }
            .card-title{
                width: 95%;
            }
            .accordion{
                padding-top: 20px;
            }
            h2{
                font-size: 28px;
            }
        }
        .leaf-1, .leaf-2{
            display: none;
        }
        .process-content{
            padding-right: 0!important;
            .col-md-3{
                padding-right: 0!important;
            }
        }
        .list-changes{
            &.col-md-12{
                .address-list .address-list-view{
                    width: 100%!important;
                    margin-right: 0px!important;
                    margin-bottom: 20px;
                }
            }
        }
        .page-form{
            max-width: 100%;
            flex: 0 0 100%;
            padding-top: 0!important;
            .col-lg-4{
                padding-right: 0;
            }
        }

        .modal-dialog{
            max-width: 90%;
            margin: 30px auto;
            .close {
                right: -6px;
                top: -4px;
            }
            .modal-content {
                padding: 10px 10px;
            }
            h3{
                padding-top: 30px;
                font-size: 30px !important;
            }
            img{
                max-width: 100%;
            }
        }
        .franchise-mobile{
            padding-right: 0;
        }
        .career-one{
            padding: 0;
            h1{
                padding-top: 0!important;
            }
            .width-90{
                width: 100%;
                margin-top: 30px;
            }
        }
        .career-opening{
            h1{
                // padding-top: 400px!important;
            }
        }
        .perks-section-career{
            h2{
                padding-top: 50px;
                font-size: 28px;
            }
            h3{
                padding-top: 10px!important;
                font-size: 20px!important;
            }
            .career-perks{
                padding: 10px 15px;
            }
        }
        .swiper-career-container{
            img{
                max-width: 100%;
            }
        }
        .career-section {
            .row{
                padding: 0;
            }
            
            .right-section{
                overflow-y: scroll;
                padding-bottom: 100px;
                h2{
                    // padding-top: 1300px;
                    font-size: 28px;
                }
                h4{
                    padding-bottom: 20px;
                }
                img{
                    padding-top: 0!important;
                    margin-bottom: 30px;
                }
            }
        }
        .location-section{
            .list-content {
                padding: 60px 10px 0 0px;
            }
            .address-list{
                h3{
                    padding-top: 0!important;
                }
            }
            .address-scroll {
                padding-right: 15px!important;
                height: auto!important;
                padding-bottom: 20px!important;
            }
            .search-location{
                top: 0;
            }
        }
        .contact-page{
            padding-top: 40px!important;
        }
        #list-map{
            margin-bottom: 30px;
        }
        .about-nav {
            .col-12{
                padding-right: 0;
            }
            .whowe-section{
                h1 {
                    padding-top: 20px;
                    font-size: 20px;
                }
                p{
                    font-size: 10px;
                }
            }
            .pt-middle{
                margin-top: 0;
            }
            .card-wrapper{
                width: 100%;
            }
        }
        .image-wrapper{
            height: auto;
            img{
                // padding-top: 500px!important;
                position: unset;
            }
        }
        #step4{
            // padding-top: 500px!important;
            .row{
                padding-right: 0!important;
                .col-md-3{
                    padding-left: 3rem !important;
                    margin-bottom: 50px!important;
                }
            }
        }
      
        .swiper-about-container img, .swiper-franchise-container img{
            max-width: 100%;
        }
    .common-height{
        padding-left: 0!important;
        overflow-x: hidden;
        align-items: flex-start;
        padding-top: 5vh;
        height: auto;
        overflow-y: hidden;
        &.mobile-container{
            overflow-y: scroll;
            height: 100vh;
        }
    }
    .contactwrapper {
        padding: 0;
        padding-top: 30px;
        height: auto;
        padding-bottom: 40px;
    }

    .contact-page{
        h2{
            font-size: 25px;
        }
        .row{
            flex-direction: column;
            padding-left: 10px !important;
            border: none;
            &::before, &::after{
                display: none;
            }
        }
        .inner-width {
            padding: 30px 10px;
        }
        .left-contact-bg {
            background: none;
        }
    }
    .swiper-slide {
        overflow: hidden;
        max-width: 100%;
        width: 100vw !important;
    }
    .swiper-home-container{
        padding-top: 0!important;
        #step4{
            padding-top: 0!important;
        }
    }
    .inner-page{
        .full-screen{
            width: 100%;
        }
    }
    .menu-toggle {
        margin-left: 0;
        margin-top: 0px !important;
    }
    .menu-page{
        h2{
          padding-top: 0!important;
          display: none!important;
          margin-top: 0!important;
        }
        .tab-pane{
            padding: 0;
        }
        .hover-animation{
            img{
                padding-top: 0!important;
            }
        }
    }
    .home-section p {
        font-size: 12px;
    }
    .home-section{
        .common-height{
            margin-top: -20px;
        }
        
    }
    .home-mobile-container{
        .container-fluid{
            padding: 0;
        }
    }
    .address-list .address-list-view{
        margin-bottom: 20px;
    }
    .menu-items{
        margin: 0!important;
        padding-top: 0!important;
       p{
           font-size: 12px;
            margin-bottom: 15px;
            max-width: 100%;
       }
        .col-md-2 {
            -ms-flex: 0 0 19.666667%;
            flex: 0 0 33.666667%;
            max-width: 32.666667%;
        }
        .item-wrapper{
            min-height: auto;
        }
    }
    .list-menu{
        padding: 0!important;
        padding-left: 0!important;
        max-height: unset;
        margin-top: 30px;
        margin-bottom: 20px;
        .nav-link{      
            width: 100%;
            height: 39px;
            border-radius: 19px;
            background-color: #ffeeee;
            margin-right: 15px;
            &.active{
                background-color: #f95858;
                border-bottom: 0px!important;
                p{
                    color: #fff!important;
                }
            }
        }
        .tag{
            margin-top: 0;
        }
        ul{
            flex-direction: row!important;
            overflow-y: unset!important;
            display: inline-block;
            width: 100%;
            overflow: scroll;
            white-space: nowrap;
            li{
                display: inline-block;
                a{
                    p{
                        padding-left: 0px!important;
                    }
                    .menu-wrapper{
                        width: 28px;
                        margin: 0 10px;
                        img{
                            margin-top: -7px;
                        }
                    }
                }
            }
        }
    }




        //   
    .swiper-pagination{
        display: none!important;
    }
    .social-icon{
        display: none;
    }
    .navbar-toggler{
        padding: 0;
        border: none;
        margin-right: 10px;
    }
    .inner-nav{
        max-width: 100%!important;
    }
    .header_nav{
            .dropdown{
                border: 0!important;
            }
            .nav-item{
                .dropdown{
                    padding: 10px 0!important;
                }
            }
    }
    .navbar-brand{
        margin-right: 0;
        img{
            width: 70px;
        }
    }
}