@import "framework.scss";


/* general-styles */
body {
    background-color: #f8f4e6;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
  }
  
  body p {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  body .btn:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #7972de;
    text-decoration: none;
  }
  
  a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  *,
  div,
  div:before,
  div:after,
  h1,
  h2,
  h3,
  p,
  ul,
  li,
  a,
  img {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  
  html {
    overflow-x: hidden;
  }
  
  /*padding*/
  .no-padding {
    padding: 0;
  }
  
  /*section-padding*/
  .sec-padding {
    padding: 60px 0px;
  }
  
  .sec1-padding {
    padding: 30px 0px;
  }
  
  